*{
    margin:0;
    padding:0;
}
#vertical-alignment{
    text-align: center;
    align-items: center;
    justify-self: center;
}
.container{
    padding:20px;
}
.btn{
    margin: 20px;
}
.randomUsers{
    background-color: bisque;
    width: 100%;
    border-collapse: collapse;
}