*{
    margin:0;
    padding:0;
}
#vertical-alignment{
    text-align: center;
    align-items: center;
    justify-self: center;
}
.container{
    padding:20px;
}
.button{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.randomUsers{
    background-color: bisque;
    width: 100%;
    border-collapse:separate;
    border-spacing: 1em;
}
.padding{
    padding: 10px;;
}